# データ関連
data/raw-data/*.csv
data/raw-data/processed/*.csv
# data/parsed-data/
data/export/

# メモ
AI-chat/

# テスト実行用
test/*.py

src/01_correlation_bias.ipynb
src/02_timecourse_viewer.ipynb
src/common/analysis_utils.py
src/*.xlsx
notebooks/

# キャッシュ関連
__pycache__/
src/common/__pycache__
